# Arquivos gerados durante o desenvolvimento
/node_modules
/dist

# Arquivos de ambiente e configuração
.env
.env.local
.env.*.local
.txt

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de dependências
package-lock.json
yarn.lock
