table {
    margin: 15px;
    width: 70%;
    height: min-content;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: solid 1px #000;
    padding: 3px;
    height: 22px;
   
}

th {
    background-color: #646cff;
}

#status,
#reserva {
    width: 90px;
}

#nquarto,
#tquarto,
#dataentrada,
#datasaida {
    width: 150px;
}

#nome {
    width: 350px;
}