<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../assets/styles/global.css">
    <link rel="stylesheet" href="header.css">
    
</head>
<body>
    <nav class="menu-lateral">
        <div class="logo">
            <img src="../../../log-hotel.webp" alt="erro">
        </div>
        <div class="menu-lateral__navegacao">
            <ul>
                <li>
                    <a href="">Reservas</a>
                </li>
                <li>
                    <a href="/src/pages/check-in/check-in.html">Check-In</a>
                </li>
                <li>
                    <a href="/src/pages/check-out/check-out.html">Check-Out</a>
                </li>
                <li>
                    <a href="">Quartos</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>